.circle-slides__container {
  width: 100%;
  margin-bottom: 50px;
  background-color: #CBE0D4;
  .circle-slides__buttons {
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
    &::-webkit-scrollbar {
      display: none;
    }
    .circle-slides__button {
      width: 170px;
      margin-right: 10px;
      .circle-slides__buttons--img {
        width: 25px;
        height: auto;
        margin-bottom: 5px;
        margin-right: 5px;
      }
    }
  }
  .circle-slides__circle--back {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    .circle-slides__circle {
      width: 277px;
      height: 277px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #649374;
      border-radius: 50%;
      background-color: #FFFFFF;
      img {
        width: 70px;
        height: auto;
        margin-bottom: 8px;
      }
      span {
        border-bottom: none;
        font-size: 17px;
        text-align: center;
        width: 85%;
        margin-top: 5px;
      }
    }
  }
}

.circle-slides__beneficios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: underline;
    font-size: 18px;
    margin: 15px 0 15px 0;
  }
  ol {
    padding: 0 0 0 50px;
    li {
      font-size: 20px;
      margin:  0 0 7px 0;
      span {
        font-size: 20px;
      }
    }
  }
}
