@use '../base/variables' as v;

.footer__container {
  width: 100%;
  height: 310px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1E1E1E;
  padding: 75px 55px 0 135px;
  max-width: 1440px;
  @media (max-width: 670px) {
    padding: 75px 35px 0 35px;
  }
}
.footer__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__data img {
  width: 137px;
  height: 42px;
  margin-bottom: 30px;
  @media (max-width: 540px) {
    width: 127px;
    height: 37px;
  }
}
.footer__data--text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__data--text img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  @media (max-width: 540px) {
    display: none;
  }
}
.footer__data--text p {
  font-size: 23px;
  color: #FFFFFF;
  line-height: 35px;
  @media (max-width: 540px) {
    font-size: 18px;
  }
}
.footer-network {
  display: flex;
  flex-direction: row;
}
#footer-linkedin {
  width: 43px;
  height: 43px;
  margin-left: 20px;
  cursor: pointer;
  &:hover {
    width: 45px;
    height: 45px;
  }
}
#footer-instagram {
  width: 37px;
  height: 37px;
  margin-left: 20px;
  cursor: pointer;
  &:hover {
    width: 39px;
    height: 39px;
  }
}
