// FUENTES
$primaria: 'Inter', sans-serif;
$secundaria: 'Noto Sans', sans-serif;

// COLORES
$c00: #FFFFFF;
$c05: #F5F5F5;
$c10: #F8F6F2;
$c15: #CBE0D4;
$c20: #649374;
$c30: #1E1E1E;

// TAMAÑOS DE PANTALLA
$phone: 390px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
